hyperSpec_*.tar.gz
*.Rcheck
*~
*.backup
.project
.settings
#*#
*.bak
*.log
*.aux
*.out
*.bbl
*.blg
*.ind
*.ilg
*.idx
*.fls
*.toc
*-pkg.bib
*.lyx.emergency
*.fdb_latexmk
Rplots.pdf
_region_*
fig*.*
.Rhistory
auto
Vignettes/*/vignettes.defs
Vignettes/*/*.pdf
Vignettes/*/*.rda
Vignettes/fileio/chondro.txt
Vignettes/laser/rawdata/laser.txt.gz
.Rproj.user
