hyperSpec_*.tar.gz
*.Rcheck
*~
*.backup
.project
.settings
*.log
*.aux
*.out
*.bbl
*.blg
*.ind
*.ilg
*.idx
*.toc
*-pkg.bib
*.lyx.emergency
*.fdb_latexmk
Rplots.pdf
fig*.*
.Rhistory
auto
Vignettes/*/vignettes.defs
Vignettes/*/*.pdf
Vignettes/*/*.rda
