  <div id="nav">
	 <h2>Navigation</h2>
	 <ul>
		<li><a href="/index.html">Home</a></li>
<!--		<li><a href="/news.html">NEWS</a></li> -->
		<li><a href="/license.html">License</a></li>
		<li><a href="/installation.php">Download &amp; Installation</a></li>
		<li><a href="/literature.html">Literature about <tt>hyperSpec</tt></a></li>
<!--		<li><a href="/applications.html">Applications/Use Cases</a></li> -->
		<li><a href="/documentation.html">Documentation</a></li> 
		<li><a href="/faq.html">FAQ</a></li>
      <li><a href="/devel.html">Development</a></li>
		<li><a href="/contact.html">Contact</a></li>
		<li><a href="/posts.html">All <tt>hyperSpec</tt> blog posts</a></li>
		<li><a href="/credits.html">Credits</a></li>
	 </ul>
  </div>
