export(cbmodels.unittest)
export(center)
export(emsc)
exportMethods(emsc)
exportMethods(pcaadd)
export(pcalda)
export(plslda)
S3method(center,pcalda)
S3method(center,plslda)
S3method(coef,pcalda)
S3method(coef,plslda)
S3method(predict,pcaadd)
S3method(predict,pcalda)
S3method(predict,plslda)
