export(cbmodels.unittest)
export(center)
export(contributions)
export(emsc)
export(flip)
exportMethods(emsc)
exportMethods(pcaadd)
export(pcalda)
export(plslda)
export(rotate)
export(rotmat)
S3method(center,pcalda)
S3method(center,plslda)
S3method(coef,pcalda)
S3method(coef,plslda)
S3method(contributions,lda)
S3method(contributions,pcalda)
S3method(flip,lda)
S3method(flip,pcalda)
S3method(flip,plslda)
S3method(flip,prcomp)
S3method(predict,pcaadd)
S3method(predict,pcalda)
S3method(predict,plslda)
S3method(rotate,lda)
S3method(rotate,pcalda)
S3method(rotate,plslda)
