export(cbmodels.unittest)
export(center)
export(center.pcalda)
export(center.plslda)
export(coef.pcalda)
export(coef.plslda)
exportMethods(pcaadd)
export(pcalda)
export(plslda)
export(predict.pcaadd)
export(predict.pcalda)
export(predict.plslda)
S3method(center,plslda)
S3method(coef,plslda)
S3method(predict,plslda)
