<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.walware.statet.r.launchConfigurationTypes.RCmdTool">
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.cmd" value="CMD REMOVE"/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.options" value=""/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.resource" value="${resource_loc}/pkg"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/REnvSetting" value="WORKBENCH"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/code" value="WORKBENCH"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/workingDirectory" value=""/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_BUILDER_ENABLED" value="false"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
</launchConfiguration>
