export(colWeightedMeans.hyperSpec)
export(colWeightedMedians.hyperSpec)
exportMethods(anyMissing)
exportMethods(colAlls)
exportMethods(colAnys)
exportMethods(colCollapse)
exportMethods(colCounts)
exportMethods(colDiffs)
exportMethods(colIQRs)
exportMethods(colMads)
exportMethods(colMaxs)
exportMethods(colMeans)
exportMethods(colMedians)
exportMethods(colMins)
exportMethods(colOrderStats)
exportMethods(colProds)
exportMethods(colQuantiles)
exportMethods(colRanges)
exportMethods(colRanks)
exportMethods(colSds)
exportMethods(colSums)
exportMethods(colTabulates)
exportMethods(colVars)
exportMethods(plot)
exportMethods(rowAlls)
exportMethods(rowAnys)
exportMethods(rowCollapse)
exportMethods(rowCounts)
exportMethods(rowDiffs)
exportMethods(rowIQRs)
exportMethods(rowMads)
exportMethods(rowMaxs)
exportMethods(rowMeans)
exportMethods(rowMedians)
exportMethods(rowMins)
exportMethods(rowOrderStats)
exportMethods(rowProds)
exportMethods(rowQuantiles)
exportMethods(rowRanges)
exportMethods(rowRanks)
exportMethods(rowSds)
exportMethods(rowSums)
exportMethods(rowVars)
export(rowWeightedMeans.hyperSpec)
export(rowWeightedMedians.hyperSpec)
