import(methods)
import(stats)
importFrom (graphics, plot)
#importFrom (lattice, trellis.focus)
importFrom (lattice, levelplot)
importFrom (grDevices, rainbow) 

exportClass (hyperSpec)

export (.DollarNames.hyperSpec,
        chk.hy,
        bind,
        cbind.hyperSpec,
        rbind.hyperSpec,
        collapse,
        seq.hyperSpec,
        logentry,
        plotmap,
        plotvoronoi, 
        plotc, 
        plotspc, 
        nwl, 
        wl2i,
        i2wl,
        wl,
        "wl<-",
        "labels<-",
        logbook,
		  spc.loess,
        decomposition,
        as.long.df,
        as.wide.df,
        as.t.df,
        read.txt.long,
        read.txt.wide,
        scan.txt.Renishaw,
        scan.zip.Renishaw,
        read.ENVI,
        read.ENVI.Nicolet,
        read.spc,
        read.spc.KaiserMap,
        write.txt.wide, 
        write.txt.long, 
        spc.bin, 
        spc.fit.poly, 
        spc.fit.poly.below,
        orderwl,
        map.identify,
        spc.identify,
        spc.label.default,
        spc.label.wlonly,
        spc.point.default,
        spc.point.max,
        spc.point.min,
        spc.point.sqr,
        vec2array,
        array2vec,
        array2df,
        matlab.palette,
        matlab.dark.palette,
        pearson.dist,
        mean_pm_sd,
        mean_sd,
        wc,
        stacked.offsets,
        trellis.factor.key,
        isample,
        hy.getOptions,
        hy.getOption,
        hy.setOptions
        )

exportMethods ("initialize",
               "cbind2",
               "rbind2",
               "print",
               "show",
               "summary",
               "merge",
               "[", 
               "$", 
               "[[",
               "as.data.frame",
               "as.matrix",
               "as.character",
               "ncol", 
               "nrow", 
               "dim",
               "colnames",
               "rownames",
               "colnames<-",
               "rownames<-",
               "dimnames",
               "labels",
               "[<-", 
               "[[<-", 
               "$<-", 
               "Arith",
               "Compare",
               "all.equal",
               "Math",
               "Math2",
               "Summary",
	            "%*%",
	            "log",
               "apply", 
               "split", 
               "sweep", 
               "aggregate", 
               "plot",
               "levelplot",
               "sample",
               "is.na"
               ) 


