/* Colors */
body, div#nav a, div.paper h3, li.literature a {
	 color: #000;
}

a, a:hover, a:active, a:focus, div.paper h2, span.title { 
	 color: #005; 
}

a:hover, a:active, a:focus {
	 border-color: #005;
}

div#header {
	 background:  #005;
}

div.post, span#tag, p#footer, div#address {
	 border-color: #bac; /*aad*/
} 


div#header {
	 box-shadow: 0 0 4em #bac;
	 -webkit-box-shadow: 0 0 4em #bac;
	 -moz-box-shadow: 0 0 4em #bac;
}

div#address, span#tag, pre {
	 background-color: #eef;
}

body {
	 background: #f8fbff;
}

div#header, div#header h1 {
	 color: #fff;
}



