body {
	 width: 75em;
	 text-align: justify; /* For IE centering. */
	 margin: auto;
	 padding-left: 1ex;
	 padding-right: 1ex;
}

div#nav {
	 text-width= 18em;
	 margin = 1em 1em 0px auto;
	 float: left;
}

div#header {
	 text-align: center;

	 border-radius:2em;
	 -webkit-border-radius:2em;
	 -moz-border-radius:2em;

	 padding: 2em;
	 margin-top: 1em;
	 margin-bottom: 2em;

	 text-align: center;
	 vertical-align: middle;
}

div#header>h1 {
display: inline;
padding: 0.5em;
text-align: center;
vertical-align: middle;
margin-bottom: 0.25em; /* 24 */
padding-bottom: 0.25em;
}

div#share{
float:right;
width: 18em;
padding-right: 1em;
}



div#container {
	 margin: 0em 18em 0 auto;
	 padding: 0;
	 text-align: justify;
	 width: 43em; /* 960 minus the gutters (48 on each side). */
}
div#content {
	 margin: 0;
	 padding: 0;
}

h1 { margin: 0em; margin-bottom: 0.5em; /* 16 */ }
h2 { font-size: 1.4em; margin: 0; /* 16 */ }
h3, div.post h2 { font-size: 1.2em; margin: 0; }
h4, div.post h3  {  font-size: 1em; font-weight: bold; margin: 0;/* 16 */ }
h5, div.post h4  { text-transform: uppercase; letter-spacing: 1px;  margin: 0em;/* 16 */ }

h5, div.post h4 {margin: 0em; }


div#nav ul {
	 margin: 0; padding: 0;
	 list-style: disc outside;
}
div#nav li {
	 list-style: none;
}
div#nav ul ul {
    margin-left: 1ex; padding: 0;
}

div#nav ul ul li{
	list-style: none;
}


div#address {
	 width: 32em;
	 padding: 1ex;
	 border-radius:1ex;
	 -webkit-border-radius:1ex;
	 -moz-border-radius:1ex;
}
div.post {
	 margin: 0em;
	 margin-bottom: 1em;
	 padding: 1ex;
	 padding-top: -1em;
	 border-radius:1ex;
	 -webkit-border-radius:1ex;
	 -moz-border-radius:1ex;
}

span#tag {
	 margin: 0em;
	 margin-right: 1em;
	 padding: 1px;
	 padding-left: 1ex;
	 padding-right: 1ex;
	 border-radius:1ex;
	 -webkit-border-radius:1ex;
	 -moz-border-radius:1ex;
	 float: right;
}

div.paper h2, div.paper h3 {
	 margin: 0em; 
	 margin-bottom: 0.5em; 
}

li.literature {margin-bottom: 1em;}

p { padding: 0; text-align: justify; padding-bottom: 1em;}
p:last-child {padding-bottom: 0em;}

p#footer {
padding: 0;
padding-top: 2px;
margin: 0;
}

/* Borders */
div#address, div.post, span#tag  {
	 border-width: 1px;
	 border-style: solid;
}

a:hover, a:active, a:focus {
	 border-bottom-width: 1px;
	 border-bottom-style: solid;
}

p#footer {
	 border-top-width: 1px;
	 border-top-style: solid;
}
